    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    
    ul {
        list-style: none;
    }
    
    body {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
    }
    
    h4 {
        font: 15px 'Gilroy', sans-serif;
        font-weight: bold;
    }
    
    h6 {
        font: 12px 'Gilroy', sans-serif;
    }
    
    h2 {
        font-size: 35px;
    }
    
    .burger {
        position: absolute;
        width: 28px;
        height: 28px;
        left: 80px;
        top: 16px;
    }
    
    .logo {
        position: absolute;
        width: 1600px;
        height: 92px;
        left: 731px;
        top: 16px;
        font-style: italic;
        font-family: 'Playfair Display', italic;
        color: aliceblue;
    }
    
    .carrinho {
        position: absolute;
        right: 89px;
        top: 36px;
    }
    
    .background {
        position: relative;
        width: 1700px;
        height: 900px;
        left: 0px;
        top: 0px;
    }
    
    .h_1 {
        position: absolute;
        width: 704px;
        height: 264px;
        left: 80px;
        top: 292px;
        /* Coffee / Head / Bold 80 */
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 88px;
        /* or 110% */
        /* White */
        color: #FFFFFF;
    }
    
    .p_1 {
        position: absolute;
        width: 459px;
        height: 40px;
        left: 80px;
        top: 580px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        /* identical to box height, or 125% */
        /* White */
        color: #FFFFFF;
    }
    
    .left {
        position: absolute;
        width: 56px;
        height: 56px;
        left: 80px;
        top: 740px;
        bottom: 104px;
    }
    
    .right {
        position: absolute;
        width: 56px;
        height: 56px;
        left: 160px;
        top: 740px;
        bottom: 104px;
    }
    
    .back-1 {
        position: absolute;
        width: 704px;
        height: 560px;
        left: 80px;
        top: 1020px;
    }
    
    .h_2 {
        position: absolute;
        width: 581px;
        height: 60px;
        left: 939px;
        top: 1024px;
        /* Coffee / Head / Bold 56 */
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 60px;
        /* identical to box height, or 107% */
        /* Coffee / Black */
        color: #0B1D03;
    }
    
    .p_2 {
        position: absolute;
        width: 581px;
        height: 160px;
        left: 939px;
        top: 1116px;
        /* Coffee / Subhead / Regular 32 */
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        /* or 125% */
        /* Coffee / Black */
        color: #0B1D03;
    }
    
    .back-2 {
        position: absolute;
        width: 704px;
        height: 560px;
        left: 816px;
        top: 1724px;
    }
    
    .h_3 {
        position: absolute;
        width: 581px;
        height: 60px;
        left: 203px;
        top: 1724px;
        /* Coffee / Head / Bold 56 */
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 60px;
        /* identical to box height, or 107% */
        /* Coffee / Black */
        color: #0B1D03;
    }
    
    .p_3 {
        position: absolute;
        width: 581px;
        height: 120px;
        left: 203px;
        top: 1816px;
        /* Coffee / Subhead / Regular 32 */
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        /* or 125% */
        /* Coffee / Black */
        color: #0B1D03;
    }
    
    .h_4 {
        position: relative;
        width: 581px;
        height: 60px;
        left: 0px;
        top: 0px;
        /* Coffee / Head / Bold 56 */
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 60px;
        /* identical to box height, or 107% */
        /* Coffee / Hover */
        color: #A0996C;
    }
    
    .aside-1 {
        position: absolute;
        position: absolute;
        width: 1441px;
        height: 1276px;
        left: 80px;
        top: 2468px;
        display: inline-flex;
    }
    
    .aside-2 {
        position: absolute;
        width: 1441px;
        height: 1276px;
        left: 80px;
        top: 2468px;
        display: inline-flex;
    }
    
    .cooffe-1 {
        position: absolute;
        width: 459px;
        height: 560px;
        left: 0px;
        top: 130px;
        background: #F7F1E6;
        border-radius: 8px;
    }
    
    .cooffe-1 p {
        position: absolute;
        margin-top: 40px;
        margin-left: 90px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }
    
    .cooffe-1 img {
        position: absolute;
        margin-top: 116px;
        margin-left: 144px;
    }
    
    .cooffe-1 h4 {
        position: absolute;
        margin-top: 364px;
        margin-left: 148px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
    }
    
    .cooffe-1 h6 {
        position: absolute;
        margin-top: 372px;
        margin-left: 246px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.04em;
        color: #969696;
    }
    
    .cooffe-1 button {
        margin-top: 452px;
        margin-bottom: 32px;
        margin-left: 32px;
        margin-right: 32px;
        width: 395px;
        height: 76px;
        border-radius: 8px;
        background: #0B1D03;
        border-radius: 4px;
        font-family: 'Gilroy', ;
        font-style: normal#FFFFFF;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        ;
    }
    
    .cooffe-2 {
        position: absolute;
        width: 459px;
        height: 560;
        left: 491px;
        height: 560px;
        top: 124px;
        background: #F7F1E6;
    }
    
    .cooffe-2 p {
        position: absolute;
        margin-top: 40px;
        margin-left: 90px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }
    
    .cooffe-2 img {
        position: absolute;
        margin-top: 116px;
        margin-left: 144px;
    }
    
    .cooffe-2 h4 {
        position: absolute;
        margin-top: 364px;
        margin-left: 148px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
    }
    
    .cooffe-2 h6 {
        position: absolute;
        margin-top: 372px;
        margin-left: 246px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.04em;
        color: #969696;
    }
    
    .cooffe-2 button {
        margin-top: 452px;
        margin-bottom: 32px;
        margin-left: 32px;
        margin-right: 32px;
        width: 395px;
        height: 76px;
        border-radius: 8px;
        background: #0B1D03;
        border-radius: 4px;
        font-family: 'Gilroy', ;
        font-style: normal#FFFFFF;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
    }
    
    .cooffe-3 {
        position: absolute;
        width: 459px;
        height: 560px;
        top: 124px;
        right: 0px;
        top: 124px;
        background: #F7F1E6;
        border-radius: 8px
    }
    
    .cooffe-3 p {
        position: absolute;
        margin-top: 40px;
        margin-left: 90px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }
    
    .cooffe-3 img {
        position: absolute;
        margin-top: 116px;
        margin-left: 144px;
    }
    
    .cooffe-3 h4 {
        position: absolute;
        margin-top: 364px;
        margin-left: 148px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
    }
    
    .cooffe-3 h6 {
        position: absolute;
        margin-top: 372px;
        margin-left: 246px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.04em;
        color: #969696;
    }
    
    .cooffe-3 button {
        margin-top: 452px;
        margin-bottom: 32px;
        margin-left: 32px;
        margin-right: 32px;
        width: 395px;
        height: 76px;
        border-radius: 8px;
        background: #0B1D03;
        border-radius: 4px;
        font-family: 'Gilroy', ;
        font-style: normal#FFFFFF;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
    }
    
    .cooffe-4 {
        height: 560px;
        width: 459px;
        margin-top: 716px;
        bottom: 0px;
        background: #F7F1E6;
        border-radius: 8px
    }
    
    .cooffe-4 p {
        position: absolute;
        margin-top: 40px;
        margin-left: 90px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }
    
    .cooffe-4 img {
        position: absolute;
        margin-top: 116px;
        margin-left: 144px;
    }
    
    .cooffe-4 h4 {
        position: absolute;
        margin-top: 364px;
        margin-left: 148px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        bottom: 156px;
    }
    
    .cooffe-4 h6 {
        position: absolute;
        margin-top: 372px;
        margin-left: 246px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.04em;
        color: #969696;
    }
    
    .cooffe-4 button {
        margin-top: 452px;
        margin-bottom: 32px;
        margin-left: 32px;
        margin-right: 32px;
        width: 395px;
        height: 76px;
        border-radius: 8px;
        background: #0B1D03;
        border-radius: 4px;
        font-family: 'Gilroy', ;
        font-style: normal#FFFFFF;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
    }
    
    .cooffe-5 {
        height: 560px;
        width: 459px;
        margin-top: 716px;
        bottom: 0px;
        background: #F7F1E6;
        border-radius: 8px;
        margin-left: 32px;
    }
    
    .cooffe-5 p {
        position: absolute;
        margin-top: 40px;
        margin-left: 90px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }
    
    .cooffe-5 img {
        position: absolute;
        margin-top: 116px;
        margin-left: 144px;
    }
    
    .cooffe-5 h4 {
        position: absolute;
        margin-top: 364px;
        margin-left: 148px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        bottom: 156px;
    }
    
    .cooffe-5 h6 {
        position: absolute;
        margin-top: 372px;
        margin-left: 246px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.04em;
        color: #969696;
    }
    
    .cooffe-5 button {
        margin-top: 452px;
        margin-bottom: 32px;
        margin-left: 32px;
        margin-right: 32px;
        width: 395px;
        height: 76px;
        border-radius: 8px;
        background: #0B1D03;
        border-radius: 4px;
        font-family: 'Gilroy', ;
        font-style: normal#FFFFFF;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
    }
    
    .cooffe-6 {
        height: 560px;
        width: 459px;
        margin-top: 716px;
        margin-left: 32px;
        background: #F7F1E6;
        border-radius: 8px
    }
    
    .cooffe-6 {
        height: 560px;
        width: 459px;
        margin-top: 716px;
        bottom: 0px;
        background: #F7F1E6;
        border-radius: 8px;
        margin-left: 32px;
    }
    
    .cooffe-6 p {
        position: absolute;
        margin-top: 40px;
        margin-left: 90px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }
    
    .cooffe-6 img {
        position: absolute;
        margin-top: 116px;
        margin-left: 144px;
    }
    
    .cooffe-6 h4 {
        position: absolute;
        margin-top: 364px;
        margin-left: 148px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        bottom: 156px;
    }
    
    .cooffe-6 h6 {
        position: absolute;
        margin-top: 372px;
        margin-left: 246px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.04em;
        color: #969696;
    }
    
    .cooffe-6 button {
        margin-top: 452px;
        margin-bottom: 32px;
        margin-left: 32px;
        margin-right: 32px;
        width: 395px;
        height: 76px;
        border-radius: 8px;
        background: #0B1D03;
        border-radius: 4px;
        font-family: 'Gilroy', ;
        font-style: normal#FFFFFF;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
    }
    
    .aside-3 {
        position: absolute;
        width: 1600px;
        height: 904px;
        margin-top: 2964px;
        margin-bottom: 1254px;
        display: inline-flex;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }
    
    .ship img {
        width: 66px;
        height: 40px;
        margin-left: 178px;
        margin-top: 80px;
    }
    
    .ship h5 {
        width: 262px;
        height: 52px;
        position: absolute;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        margin-left: 178px;
        margin-top: 26px;
    }
    
    .pay img {
        width: 66px;
        height: 40px;
        margin-left: 200px;
        margin-top: 80px;
    }
    
    .pay h5 {
        width: 262px;
        height: 52px;
        position: absolute;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        margin-left: 178px;
        margin-top: 26px;
    }
    
    .wallet img {
        width: 66px;
        height: 40px;
        margin-left: 210px;
        margin-top: 80px;
    }
    
    .wallet h5 {
        width: 262px;
        height: 52px;
        position: absolute;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        margin-left: 188px;
        margin-top: 26px;
    }
    
    .cupon img {
        width: 66px;
        height: 40px;
        margin-left: 218px;
        margin-top: 80px;
    }
    
    .cupon h5 {
        width: 262px;
        height: 52px;
        position: absolute;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        margin-left: 158px;
        margin-top: 26px;
    }
    
    .presente img {
        width: 66px;
        height: 40px;
        margin-left: 230px;
        margin-top: 80px;
    }
    
    .presente h5 {
        width: 262px;
        height: 52px;
        position: absolute;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        margin-left: 178px;
        margin-top: 26px;
    }
    
    .aside-4 {
        position: absolute;
        width: 1600px;
        height: 904px;
        display: inline-flex;
        top: 4200px;
    }
    
    .aside-4 img {
        margin-left: 32px;
    }
    
    .coffee img {
        padding-left: 60px;
    }
    
    .coffee h2 {
        position: relative;
        padding-left: 120px;
        bottom: 190px;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 60px;
        color: #FFFCF6;
    }
    
    .coffee p {
        position: relative;
        padding-left: 120px;
        bottom: 170px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.04em;
        color: #FFFCF6;
    }
    
    .coffee-2 h2 {
        position: relative;
        padding-left: 80px;
        bottom: 190px;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 60px;
        color: #FFFCF6;
    }
    
    .coffee-2 p {
        position: relative;
        padding-left: 80px;
        bottom: 170px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.04em;
        color: #FFFCF6;
    }
    
    .aside-5 {
        position: absolute;
        width: 1600px;
        height: 800px;
        left: 0px;
        top: 4848px;
    }
    
    .aside-5 h2 {
        position: absolute;
        width: 470px;
        height: 60px;
        left: 80px;
        top: 40px;
        /* Coffee / Head / Bold 56 */
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 60px;
        /* identical to box height, or 107% */
        /* Coffee / Black */
        color: #0B1D03;
    }
    
    .city {
        position: absolute;
        width: 459px;
        height: 76px;
        left: 80px;
        top: 148px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */
        /* Grey */
        color: #969696;
        border: 2px solid #0B1D03;
        box-sizing: border-box;
        border-radius: 4px;
    }
    
    .end {
        position: absolute;
        width: 949px;
        height: 76px;
        left: 571px;
        top: 148px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */
        /* Grey */
        color: #969696;
        border: 2px solid #0B1D03;
        box-sizing: border-box;
        border-radius: 4px;
    }
    
    .mapa {
        position: absolute;
        width: 1448px;
        height: 512px;
        left: 80px;
        top: 248px;
    }
    
    .lup {
        position: absolute;
        top: 177px;
        left: 1469px;
    }
    
    .baixo {
        position: absolute;
        top: 183px;
        left: 489px;
    }
    
    .aside-6 {
        position: absolute;
        width: 1700px;
        height: 306px;
        left: 0px;
        top: 5648px;
        /* Coffee / Grey 2 */
        background: #F7F1E6;
    }
    
    .aside-6 h2 {
        position: absolute;
        top: 56px;
        left: 80px;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        /* identical to box height, or 100% */
        display: flex;
        align-items: center;
        /* Coffee / Black */
        color: #0B1D03;
    }
    
    .ul-1 {
        position: absolute;
        width: 336px;
        height: 194px;
        left: 368px;
        top: 50px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 45px;
        /* identical to box height, or 140% */
        display: flex;
        align-items: center;
        /* Sneak / Black */
        color: #1F1F1F;
        list-style: none;
        marker: initial;
    }
    
    .ul-2 {
        position: absolute;
        width: 336px;
        height: 194px;
        left: 778px;
        top: 50px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 45px;
        /* identical to box height, or 140% */
        display: flex;
        align-items: center;
        /* Sneak / Black */
        color: #1F1F1F;
    }
    
    .ul-3 {
        position: absolute;
        width: 336px;
        height: 88px;
        left: 1184px;
        top: 40px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 35px;
    }
    
    .soc {
        display: inline-flex;
    }
    
    .insta {
        margin-top: 23px;
    }
    
    .face {
        margin-top: 23px;
        margin-left: 26px;
    }
    
    .twit {
        margin-top: 23px;
        margin-left: 26px;
    }
    
    .final {
        position: absolute;
        width: 1700px;
        height: 68px;
        left: 0px;
        top: 5954px;
        /* Coffee / Grey 2 */
        background: #F7F1E6;
        text-align: center;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */
        display: flex;
        align-items: center;
        /* Sneak / Black */
        color: #1F1F1F;
    }
    
    .desing {
        margin-left: 750px;
    }
    
    .mentorama {
        margin-left: 8px;
    }